label {
    font-weight: 700;
  }
  
  form input[type=text],
  form input[type=tel],
  form input[type=email]{
    width: 100%;
    border-radius: 10px;
    height: 42px;
    background-color: #F5F5F5;
    padding: 16px;
  }

  form textarea {
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    resize: none;
    background-color: #F5F5F5;
    padding: 16px;
  }
  
  form button {
    width: 100%;
    margin: 0%;
  }

  @media only screen and (min-width:768px){
    form textarea {
      margin-top: 16px;
      height: 120px;
    }
  }